<!--shared header-->
<%- include partials/header.ejs %>

<!--brief information-->
<div class="well">
    <h1><%= name %></h1>
    <p>Hi, my name is <%= name %>.</p>
    <p>My hobby is <%= hobby %>.</p>
</div>

<!--shared footer-->
<%- include partials/footer.ejs %>